
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <svg
          width="25"
          viewBox="0 0 25 42"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path
              d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
              id="path-1"></path>
            <path
              d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
              id="path-3"></path>
            <path
              d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
              id="path-4"></path>
            <path
              d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
              id="path-5"></path>
          </defs>
          <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
              <g id="Icon" transform="translate(27.000000, 15.000000)">
                <g id="Mask" transform="translate(0.000000, 8.000000)">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <use fill="#696cff" xlink:href="#path-1"></use>
                  <g id="Path-3" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-3"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                  </g>
                  <g id="Path-4" mask="url(#mask-2)">
                    <use fill="#696cff" xlink:href="#path-4"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                  </g>
                </g>
                <g
                  id="Triangle"
                  transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                  <use fill="#696cff" xlink:href="#path-5"></use>
                  <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">sneat</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    
      
      <div class="rounded-lg bg-white px-1 pb-1 pt-3">
        <div class="px-4">
          <p class="text-ic-ink-6s text-sm font-bold leading-[20px]">Services</p>
        </div>
        <div class="mt-1">
          <!-- My Orders Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/my-order">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" class="cart-2 text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.174 11.872 4.895 5.833h10.522c.542 0 .94.51.808 1.036l-1.123 4.493a1.67 1.67 0 0 1-1.451 1.255l-5.68.568a1.667 1.667 0 0 1-1.797-1.313" clip-rule="evenodd"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4.895 5.833-.542-2.5H2.917M14.257 16.056a.305.305 0 1 0 .004.61.305.305 0 0 0-.004-.61M7.247 16.056a.303.303 0 0 0-.303.305.305.305 0 1 0 .303-.305"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">My orders</p>
          </a>
      
          <!-- Voucher Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/my-voucher">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" class="voucher text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.333 12.697V15c0 .46-.373.833-.833.833h-15A.834.834 0 0 1 1.667 15v-2.303c0-.121.068-.231.175-.285v0A2.7 2.7 0 0 0 3.333 10v0a2.7 2.7 0 0 0-1.49-2.412v0a.32.32 0 0 1-.176-.285V5c0-.46.373-.833.833-.833h15c.46 0 .833.373.833.833v2.303a.32.32 0 0 1-.176.285l-.036.02A2.7 2.7 0 0 0 16.667 10v0c0 1.02.576 1.955 1.49 2.412h0a.32.32 0 0 1 .176.285" clip-rule="evenodd"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m7.858 12.142 4.167-4.167M12.082 11.875a.208.208 0 1 0 .002.416.208.208 0 0 0-.002-.416M7.916 7.708a.208.208 0 1 0 .002.417.208.208 0 0 0-.002-.417"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Voucher</p>
          </a>
      
          <!-- Product Search Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/product-search">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 32 32" class="product-search text-ic-ink-6s">
                <rect width="32" height="32" fill="#E0E0E0" rx="8"></rect>
                <path stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.083 19.333a1.25 1.25 0 0 0 2.5 0"></path>
                <rect width="8.333" height="6.667" x="15.167" y="16.833" stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="2"></rect>
                <circle cx="12.667" cy="11" r="3.333" stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
                <path stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10.31 13.357-1.81 1.81M8.5 18.5V21a2.5 2.5 0 0 0 2.5 2.5h1.667M18.5 8.5H21a2.5 2.5 0 0 1 2.5 2.5v3.333"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Product Search</p>
          </a>
        </div>
      </div>
      <div class="rounded-lg bg-white px-1 pb-1 pt-3">
        <div class="px-4">
          <p class="text-ic-ink-6s text-sm font-bold leading-[20px]">Express</p>
        </div>
        <div class="mt-1">
          <!-- Create Package Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/create-package">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="package-box-arrow-up text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.625 21.004H5.871a2.25 2.25 0 0 1-2.25-2.251V8.138c0-.303.061-.604.18-.884l1.236-2.891a2.25 2.25 0 0 1 2.07-1.367H18.14c.902 0 1.716.538 2.07 1.367l1.236 2.891c.12.28.182.58.182.884V12"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M22.63 18.003a4 4 0 0 1-4.002 4.001v0a4 4 0 0 1-4.002-4.001v0A4 4 0 0 1 18.628 14v0a4 4 0 0 1 4.001 4.002" clip-rule="evenodd"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.628 16.669v2.667M17.627 17.67l1-1.001 1 1M12.625 2.996v5.002M7.623 17.002h2M21.629 10a2 2 0 0 0-2.001-2.001H5.622a2 2 0 0 0-2 2"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Create package</p>
          </a>
      
          <!-- Create Shipment Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/create-shipment-ex">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="packages text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.875 21h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2M10.875 21h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2M15.375 12h-5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2" clip-rule="evenodd"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.875 18h2M10.875 9h2M15.875 18h2"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Create shipment</p>
          </a>
      
          <!-- Create Batch Shipments Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/create-batch-shipments">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 20 20" class="create-batch-shipments text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.667 16.667H4.27A1.77 1.77 0 0 1 2.5 14.896v-8.35c0-.24.048-.477.143-.696l.972-2.275A1.77 1.77 0 0 1 5.243 2.5h8.681c.71 0 1.35.423 1.629 1.075l.972 2.275c.093.22.142.457.142.696V10M9.584 2.5v3.7M16.631 6.202H2.536M5 13.335h1.667"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.167 17.501a4.167 4.167 0 1 1 0-8.334 4.167 4.167 0 0 1 0 8.334"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15.642 12.904.338-.338a1.97 1.97 0 0 1-.421 2.162c-.47.47-1.114.646-1.721.542M12.691 13.765l-.338.338a1.962 1.962 0 0 1 2.253-2.68"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Create batch shipments</p>
          </a>
      
          <!-- Manage Package/Shipment Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/manage-package">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="packages text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.875 21h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2M10.875 21h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2M15.375 12h-5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2" clip-rule="evenodd"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.875 18h2M10.875 9h2M15.875 18h2"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Manage package/shipment</p>
          </a>
      
          <!-- Warehouse Information Link -->
          <a class="flex items-center gap-3 px-3 py-2 rounded-md hover:bg-ic-primary-1s" href="/vn/account/warehouse-information">
            <div class="flex size-8 items-center justify-center rounded-lg bg-ic-black-1s">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="package-warehouse text-ic-ink-6s">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.375 16h2M13.375 19h-9a2 2 0 0 1-2-2V7.569c0-.27.055-.538.161-.786l1.098-2.569A2 2 0 0 1 5.473 3h9.804a2 2 0 0 1 1.839 1.214l1.098 2.569c.106.249.161.516.161.786V11.1M10.375 3v4.44M18.365 7.44H2.375"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.91 12.465a5 5 0 1 1-7.07 7.07 5 5 0 0 1 7.07-7.07"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.5 14.297a2 2 0 1 1-2.828 2.827 2 2 0 0 1 2.828-2.827M19.375 18l-.88-.88"></path>
              </svg>
            </div>
            <p class="text-ic-ink-6s text-sm font-medium leading-[20px]">Warehouse information</p>
          </a>
        </div>
      </div>
 
</aside>